@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url(header.css);
@import url(hero.css);
@import url(project.css);
:root {
  --cor-fundo: #232946;
  --cor-branco: #fffffe;
  --cor-texto-secundario: #b8c1ec;
  --cor-borda: #e5e5e5;
  --cor-tag: #e3e3e3;
  --cor-destaque: #eebbc3;

  --fonte-texto: "Source Sans 3", sans-serif;
  --fonte-titulo: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-texto);
}
