@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --cor-fundo: #232946;
  --cor-branco: #fffffe;
  --cor-texto-secundario: #b8c1ec;
  --cor-borda: #e5e5e5;
  --cor-tag: #e3e3e3;
  --cor-destaque: #eebbc3;

  --fonte-texto: "Source Sans 3", sans-serif;
  --fonte-titulo: "Nunito", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-texto);
}

nav {
  background-color: #f7f7f7;
  border-radius: 67px;
  padding: 12px 32px;
  margin: 24px 16px 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--cor-fundo);
  font-size: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  gap: 24px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 56px;
  gap: 40px;
}

.hero-content h1 {
  color: var(--cor-branco);
  font-family: var(--fonte-titulo);
  font-weight: 300;
  font-size: 40px;
  line-height: 64px;
}

.hero-content p {
  color: var(--cor-texto-secundario);
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}

.highlight {
  font-weight: 400;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  width: 100%;
  height: 536px;
  border-radius: 16px;
  object-fit: cover;
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-card {
  display: flex;
  flex-direction: column;
  color: var(--cor-fundo);

  background-color: var(--cor-branco);

  border: 1px solid var(--cor-borda);
  border-radius: 16px;

  padding: 32px;
  gap: 24px;
}

.about-card h2 {
  font-family: var(--fonte-titulo);
  font-weight: 700;
  font-size: 36px;
}

.about-card p {
  font-family: var(--fonte-texto);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 16px 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  color: var(--cor-fundo);
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-borda);
  border-radius: 16px;
  padding: 32px;
  gap: 24px;
  height: 445px;
}

.project-card h2 {
  font-family: var(--fonte-titulo);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.project-card p {
  font-family: var(--fonte-texto);
  font-size: 20px;
  line-height: 32px;
}

.image-card .project-tags{
  margin-top: -8px;
}

.text-card {
  height: auto;
}

.project-header {
  position: relative;
}

.project-link {

  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: var(--cor-destaque);
  border-radius: 50%;
  
}

.project-link img {
  width: 16px;
  height: 16px;
}

.project-image {
  width: 334px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.shop-image{
  height: 240px;
}

.connect-image{
  height: 284px;
}

.project-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.project-tag {
  background-color: var(--cor-tag);
  border-radius: 80px;
  padding: 8px 16px;
  font-weight: 800;
  font-size: 16px;
  font-family: var(--fonte-titulo);
  line-height: 16px;
}

.connect-tag{
  background-color: var(--cor-fundo);
  color: var(--cor-texto-secundario);
}

@media (min-width: 834px) {
  nav {
    width: 509px;
    height: 68px;
    margin: 24px auto 0;
    display: flex;
    align-items: center;
  }

  ul {
    width: 100%;
  }

  .hero {
    margin: 36px 80px 0;
  }

  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero-content h1 {
    white-space: nowrap;
    font-size: 64px;
    line-height: 64px;
  }

  .hero-content p {
    width: 548px;
    font-size: 36px;
    line-height: 64px;
  }

  .hero-details {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    height: 305px;
  }

  .hero-image {
    width: 357px;
    height: 100%;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-card {
    flex: 1;
    height: 100%;
  }
}
